body{
	background-color: #373737;
}

.bg-light {
	background-color: #ccc !important;
}

img {
	box-shadow: 0px 10px 50px #ccc;
}

.col-sm h1 {
	background-color: #303030;
	margin-top: 25px;
	text-align: center;
}

.col-sm {

	color: #fff;
}

.col-sm p {
	text-align: justify;
}

footer {
	color: #fff;
	box-shadow: 0px 10px 50px #ccc;
}
.btn-rounded {
	color: antiquewhite;
}